<div class="container">
    <p class="headline-layout">Table of Contents</p>
    <ul class="list-layout">
        <li><a href="#fonts-colors">Fonts & Colors</a></li>
        <li><a href="#buttons-links">Buttons & Links</a></li>
        <li><a href="#cards">Cards</a></li>
        <li><a href="#carousel">Carousel</a></li>
        <li><a href="#accordion">Accordion</a></li>
        <li><a href="#footer">Footer</a></li>
    </ul>

    <p id="fonts-colors" class="headline-layout">Fonts & Colors</p>
    <p class="headline1">Headline 1</p>
    <p class="headline2">Headline 2</p>
    <p class="headline3">Headline 3</p>
    <p class="headline4">Headline 4</p>
    <p class="headline5">Headline 5</p>
    <p>Normal text. Or <strong>bold</strong> and <i>italic</i>.</p>

    <p id="buttons-links" class="headline-layout">Buttons & Links</p>
    <a href="#" class="headline5">Link with arrow &rarr;</a>
    <p id="cards" class="headline-layout">Cards</p>
    <div class="row">
        <div class="col-sm-6 col-md">
            <p class="headline5">
                Intro text &mdash; for the blog:
            </p>
        </div>
        <div class="col-sm-6 col-md">
            <a href="#" class="card">
                <img class="card-img-top" src="../content/teaser-image.jpg" alt="Card image top">
                <div class="card-body">
                    <p class="card-title headline5">Card title &rarr;</p>
                    <p class="card-text headline2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
           </a>
        </div>
        <div class="col-sm-6 col-md">
            <div class="card">
                <img class="card-img-top" src="../content/teaser-image.jpg" alt="Card image top">
                <div class="card-body">
                    <p class="card-title headline5">Card title &rarr;</p>
                    <p class="card-text headline2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md">
            <div class="card">
                <img class="card-img-top" src="../content/teaser-image.jpg" alt="Card image top">
                <div class="card-body">
                    <p class="card-title headline5">Card title &rarr;</p>
                    <p class="card-text headline2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md">
            <a href="#" class="card">
                <div class="card-body">
                    <p class="card-title headline5">Card title &rarr;</p>
                    <p class="card-text headline2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md">
            <a href="#" class="card">
                <div class="card-body">
                    <p class="card-title headline5">Card title &rarr;</p>
                    <p class="card-text headline2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md">
            <div class="card">
                <div class="card-body">
                    <p class="card-title headline5">Card title &rarr;</p>
                    <p class="card-text headline2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md">
            <div class="card">
                <div class="card-body">
                    <p class="card-title headline5">Card title &rarr;</p>
                    <p class="card-text headline2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md">

        </div>
        <div class="col-sm-6 col-md">
            <div class="card">
                <div class="card-body">
                    <p class="card-title headline3">Card title</p>
                    <p class="card-text headline4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md">
            <div class="card">
                <div class="card-body">
                    <p class="card-title headline3">Card title</p>
                    <p class="card-text headline4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md">
            <div class="card">
                <div class="card-body">
                    <p class="card-title headline3">Card title</p>
                    <p class="card-text headline4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
    <p id="carousel" class="headline-layout">Carousel</p>
    <div id="fullwidthCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption">
                    <p class="headline5">Smaller subtitle</p>
                    <p class="headline1">First slide &mdash; Big slider caption</p>
                    <p class="headline5">Smaller subtitle</p>
                </div>
                <img class="d-block w-100" src="../content/slider-image.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <p class="headline5">Smaller subtitle</p>
                    <p class="headline1">Second slide &mdash; Big slider caption</p>
                    <p class="headline5">Smaller subtitle</p>
                </div>
                <img class="d-block w-100" src="../content/slider-image.jpg" alt="Second slide">
            </div>
        </div>
    </div>
    <p id="accordion" class="headline-layout">Accordion</p>
    <div class="container-fullwidth">
        <div id="textAccordion" class="accordion">
            <div class="accordion-item">
                <div class="accordion-header" id="headingOne">
                    <div class="container">
                        <button type="button" class="headline2" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Accordion Item #1 &rarr;
                        </button>
                    </div>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#textAccordion">
                    <div class="container">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                        raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header" id="headingTwo">
                    <div class="container">
                        <button type="button" class="headline2 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Accordion Item #2 &rarr;
                        </button>
                    </div>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#textAccordion">
                    <div class="container">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                        raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header" id="headingThree">
                    <div class="container">
                        <button type="button" class="headline2 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Accordion Item #3 &rarr;
                        </button>
                    </div>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#textAccordion">
                    <div class="container">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                        raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p id="footer" class="headline-layout">Footer</p>
</div>
