<footer>
    <div class="info bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md">
                    <div class="card">
                        <div class="card-body d-sm-none">
                            <p class="card-title headline4">Card title &rarr;</p>
                        </div>
                        <div class="card-img-bottom">
                            <div class="embed-responsive embed-responsive-1by1">
                                <iframe class="embed-responsive-item grayscale circle" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d675.0038471513005!2d9.741513929245901!3d47.41164100625928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479b6b4bc8a0459b%3A0x5308489d5d668947!2sMarktstra%C3%9Fe+18a%2C+6850+Dornbirn!5e0!3m2!1sde!2sat!4v1535534974356" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="card-body d-none d-sm-block">
                            <p class="card-title headline5">Card title</p>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md">
                    <div class="card">
                        <div class="card-body d-sm-none">
                            <p class="card-title headline4">Card title &rarr;</p>
                        </div>
                        <div class="card-img-bottom">
                            <div class="embed-responsive embed-responsive-1by1">
                                <iframe class="embed-responsive-item grayscale circle" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d675.0038471513005!2d9.741513929245901!3d47.41164100625928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479b6b4bc8a0459b%3A0x5308489d5d668947!2sMarktstra%C3%9Fe+18a%2C+6850+Dornbirn!5e0!3m2!1sde!2sat!4v1535534974356" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="card-body d-none d-sm-block">
                            <p class="card-title headline5">Card title</p>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md">
                    <div class="card">
                        <div class="card-body d-sm-none">
                            <p class="card-title headline4">Card title &rarr;</p>
                        </div>
                        <div class="card-img-bottom">
                            <div class="embed-responsive embed-responsive-1by1">
                                <iframe class="embed-responsive-item grayscale circle" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d675.0038471513005!2d9.741513929245901!3d47.41164100625928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479b6b4bc8a0459b%3A0x5308489d5d668947!2sMarktstra%C3%9Fe+18a%2C+6850+Dornbirn!5e0!3m2!1sde!2sat!4v1535534974356" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="card-body d-none d-sm-block">
                            <p class="card-title headline5">Card title</p>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md">
                    <div class="card">
                        <div class="card-body d-sm-none">
                            <p class="card-title headline4">Card title &rarr;</p>
                        </div>
                        <div class="card-img-bottom">
                            <div class="embed-responsive embed-responsive-1by1">
                                <iframe class="embed-responsive-item grayscale circle" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d675.0038471513005!2d9.741513929245901!3d47.41164100625928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479b6b4bc8a0459b%3A0x5308489d5d668947!2sMarktstra%C3%9Fe+18a%2C+6850+Dornbirn!5e0!3m2!1sde!2sat!4v1535534974356" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="card-body d-none d-sm-block">
                            <p class="card-title headline5">Card title</p>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>
    <div class="copyright bg-black">
        <div class="container">
            <div class="row">
                <div class="col-sm d-sm-none">
                    <a href="#" class="headline5">Link 1 &rarr;</a>
                </div>
                <div class="col-sm">
                    &copy; Copyright holder &mdash; Text about the copyright holder
                </div>
                <div class="col-sm d-none d-sm-block text-right">
                    <a href="#">Link 1 &rarr;</a>
                    <a href="#">Link 2 &rarr;</a>
                </div>
            </div>
        </div>
    </div>
</footer>
