@import "./variables.scss"; /*Import custom variables first, because Bootstrap uses !default*/
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/slick-carousel/slick/slick";
.headline-layout    {
    color: green;
    font-family: sans-serif;
    font-size: 24px;
    text-decoration: underline;
    text-transform: uppercase;
    margin-top: spacing("double");
}
.list-layout a    {
    color: green;
}
html,
body    {
    font-family: $font-family-base;
    font-size: font-size("base");
    line-height: line-height("base");
}
.container  {
    width: calc(100% - #{$grid-gutter-width});
}
.container-fullwidth    {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
.bg-primary,
.bg-black   {
    color: theme-color("white");
    a,
    .btn.btn-link,
    .btn.btn-primary,
    [class*="headline"] {
        border-color: theme-color("white");
        color: theme-color("white");
        &:hover,
        &:focus {
            border-color: theme-color("white");
            color: theme-color("white");
        }
    }
    .form-control   {
        border-bottom: 1px solid theme-color("white");
        color: theme-color("white");
        &::placeholder    {
            color: theme-color("white");
        }
        &:focus {
            border-color: theme-color("white");
        }
    }
}
.grayscale  {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.circle {
    border-radius: 100%;
    overflow: hidden;
}
.img-circle   {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 50%;
    width: 100%;
    padding-top: 100%;
}
ul, li  {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.form-minimal   {
    .form-control   {
        background: transparent;
        border: none;
        border-bottom: 1px solid;
        border-radius: 0;
        display: block;
        margin-bottom: spacing("base");
        padding-left: 0;
        width: 100%;
        &:focus {
            background: transparent;
        }
    }
    .btn.btn-link  {
        padding-left: 0;
    }
}
.btn    {
    line-height: 2rem;
}
.btn.btn-primary    {
    background: transparent;
    border: 1px solid theme-color("primary");
    border-radius: spacing("double");
    color: theme-color("primary");
}
.headline1  {
    color: theme-color("primary");
    font-family: $headings-font-family-extended;
    font-size: font-size("large");
    line-height: line-height("large");
}
.headline2  {
    color: theme-color("black");
    font-family: $headings-font-family-extended;
    font-size: font-size("medium");
    line-height: line-height("medium");
}
.headline3  {
    color: theme-color("primary");
    font-family: $headings-font-family;
    font-size: font-size("medium");
    line-height: line-height("medium");
}
.headline4  {
    color: theme-color("primary");
    font-family: $headings-font-family-extended;
    font-size: font-size("base");
    line-height: line-height("base");
}
.headline5  {
    color: theme-color("primary");
    font-family: $headings-font-family;
    font-size: font-size("base");
    line-height: line-height("base");
}
.headline6  {
    color: theme-color("black");
    font-family: $headings-font-family;
    font-size: font-size("base");
    line-height: line-height("base");
}
strong  {
    font-family: $headings-font-family;
    font-weight: normal;
}
.card   {
    background: transparent;
    border: none;
    border-radius: 0;
    margin-bottom: spacing("triple");
    [class*="card-img"] {
        border-radius: 0;
    }
    .card-img-top   {
        margin-bottom: spacing("base");
    }
    .card-img-bottom   {
        margin-top: spacing("base");
    }
    .card-body  {
        padding: 0px;
        .card-title {
            margin-bottom: 0;
            &.headline3 {
                margin-bottom: spacing("onehalf");
            }
        }
    }
}
.slick-carousel {
    .slick-prev,
    .slick-next {
        background: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .slick-prev {
        left: -30px;
    }
    .slick-next {
        right: 30%;
    }
    .slick-item {
        position: relative;
        .slick-caption   {
            position: relative;
            text-align: left;
            left: auto;
            right: auto;
            top: auto;
            bottom: auto;
        }
    }
    &.edge  {
        .slick-list {
            padding:0 20% 0 0;
        }
        .slick-item {
            padding-right: 20%;
        }
    }
    &.fullwidth {

    }
}
.tabs   {
    .nav-tabs    {
        border: none;
        .nav-link   {
            border: none;
            &.active    {
                .btn.btn-primary    {
                    box-shadow: 0 0 0 0.2rem rgba($component-active-bg, 0.5);
                }
            }
        }
    }
    .tab-content    {
        padding: spacing("base") 0;
    }
}
.accordion  {
    .accordion-item   {
        .accordion-header    {
            background-color: theme-color("primary");
            border-bottom: 1px solid theme-color("white");
            button  {
                background: transparent;
                border: none;
                color: theme-color("white");
                display: block;
                padding: spacing("base") 0;
                width: 100%;
                text-align: left;
            }
        }
        .collapse   {
            padding: spacing("base") 0;
        }
    }
}
article {
    header  {
        position: relative;
        padding: 0;
        margin-bottom: spacing("base");
        .header-image   {
            margin-bottom: spacing("base");
        }
        .page-title {

        }
    }
}
header  {
    padding: spacing("base") 0;
    .row    {
        align-items: center;
    }
    img {

    }
    .link-nav a   {
        color: theme-color("black");
        margin-left: spacing("triple");
    }
    .main-menu-toggle   {
        background: transparent;
        border: none;
        cursor: pointer;
        font-size: 30px;
    }
    .main-menu-modal    {
        &.fade-right {
            .modal-dialog {
                transform: translate(100%, 0);
                float: right;
            }
            &.show .modal-dialog    {
                transform: translate(0, 0);
            }
        }
        &.show {
            padding-right: 0px !important;
        }
        .modal-dialog   {
            max-width: none;
            width: 100%;
            margin: 0;
            .modal-content  {
                border: none;
                border-radius: 0;
                min-height: 100vh;
                .modal-header,
                .modal-body {
                    padding: spacing("base") $grid-gutter-width;
                }
                .modal-header   {
                    border: none;
                    .close  {
                        color: theme-color("white");
                        opacity: 1;
                        text-shadow: none;
                    }
                }
                .modal-body {
                    ul   {
                        margin-bottom: spacing("triple");
                    }
                    form    {
                        margin-bottom: spacing("base");
                    }
                }
            }
        }
    }
}
footer  {
    .info {
        padding-top: spacing("triple");
        text-align: center;
        .card   {
            margin-bottom: spacing("triple");
            .card-img-bottom {
                margin-top: spacing("double");
                padding: 0 spacing("onehalf");
            }
        }
    }
    .copyright  {
        padding: spacing("onehalf") 0;
        .headline5 {
            display: inline-block;
            margin-bottom: spacing("double");
        }
        a   {
            margin-right: spacing("onehalf");
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
@include media-breakpoint-up(sm) {
    header  {
        .main-menu-modal    {
            .modal-dialog   {
                width: 50%;
            }
        }
    }
    footer  {
        .info {
            .card   {
                .card-img-bottom {
                    margin-top: 0;
                    margin-bottom: spacing("double");
                }
            }
        }
    }
}
@include media-breakpoint-up(md) {
    .card   {
        margin-bottom: spacing("sextuple");
    }
    .slick-carousel   {
        .slick-item {
            .slick-caption   {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                padding: 0 $grid-gutter-width/2;
            }
        }
        &.edge  {
            .slick-item {
                .slick-caption  {
                    width: 80%;
                }
            }
        }
    }

    article {
        header  {
            margin-bottom: spacing("triple");
            .page-image {
                margin-bottom: 0;
            }
            .page-title {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    footer  {
        .info {
            .card   {
                .card-img-bottom {
                    margin-bottom: spacing("triple");
                }
            }
        }
    }
}
@include media-breakpoint-up(lg) {
    .headline1  {
        font-size: font-size("large-lg");
        line-height: line-height("large-lg");
    }
    .slick-carousel   {
        .slick-item {
            .slick-caption   {
                right: 0;
                width: 50%;
            }
        }
        &.edge  {
            .slick-item {
                .slick-caption  {
                    right: auto;
                    left: 0;
                    width: 50%;
                }
            }
        }
    }
    header  {
        .main-menu-modal    {
            .modal-dialog   {
                width: 25%;
            }
        }
    }
}
